body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --paragraph: "General Sans Variable";
  --heading-3: "Neue Regrade";

  /* font sizes */
  --paragraph-size: 14px;
  --subtitle-size: 12px;
  --heading-3-size: 24px;
  --font-size-lgi: 19px;
  --heading-2-size: 48px;
  --font-size-19xl: 38px;
  --font-size-10xl: 29px;
  --heading-1-size: 96px;

  /* Colors */
  --pure-white: #fff;
  --humble-black: #1d1e1c;
  --color-gainsboro: #e6e6e6;
  --color-dimgray: #4f524f;
  --unorganic-green: #d3f985;
  --shiny-pink: #fcbedc;
  --sky-blue: #a6e8f6;
  --almost-orange: #fbc898;
  --powerless-grey: #f1f1f1;

  /* Gaps */
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-xl: 20px;
  --gap-5xl: 24px;
  --gap-21xl: 40px;
  --gap-61xl: 80px;
  --gap-5xs: 8px;
  --gap-xs: 12px;
  --gap-29xl: 48px;

  /* Paddings */
  --padding-45xl: 64px;
  --padding-13xl: 32px;
  --padding-5xl: 24px;
  --padding-5xs: 8px;
  --padding-3xs: 10px;
  --padding-4xl: 23px;
  --padding-xs: 12px;
  --padding-93xl: 112px;
  --padding-28xl: 47px;
  --padding-54xl: 73px;
  --padding-9xs: 4px;
  --padding-xl: 20px;
  --padding-base: 16px;
  --padding-10xl: 29px;
  --padding-3xl: 22px;
  --padding-2xl: 21px;
  --padding-31xl: 50px;
  --padding-81xl: 100px;

  /* Border radiuses */
  --br-29xl: 48px;
  --br-23xl: 42px;
  --br-5xs: 8px;
  --br-5xl: 24px;
}
